{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -250px;
    }
    .wujud{
        font-size: 20px;
        font-family: "Courier";
        color: black;
    }
</style>
<div class="center_screen">
    <p class="wujud status" style="text-align: center" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}
